body{
	display: flex;
	min-height: 100%;
	flex-direction: column;
	font-size: 20px;
	/*below gets rid of whitespace around background images*/
	 margin: 0px;
}
/*min,  regardless of amount of content we want
the viewport or screen to take up 100%*/
header{
/*border: 2px purple solid;*/

/*background-color: purple;*/
display: flex;
/* margin-bttom space btween nav abd content*/
margin-bottom: 3%;
background-image: url("images/fruits-and-veg.jpg");
	height: 25vh;
 	background-size: cover;
 	background-position: center;
 	   background-position: 100% 100%;


}
  h1,
  h2,
  h3{
  
    font-weight: 300;
    text-transform: uppercase;
    
  }
  h1{
    margin: 0;
    color: #fff;
    font-size:200%;
    word-spacing: 3px;
    letter-spacing: 1px;
  }
  h2{
    font-size:180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;

  }
  h3{
    font-size: 110%;
    margin-bottom: 15px;
  }

/*Page 1

*/
.mainContent{
border: 2px red solid;
flex: 1;
/*mainContent  will become parent to 3
flex items thats why we use display: flex;*/
display: flex;
margin-top: 1%;
}

.sideBlock{
	flex:1;
	padding: 3%;
	margin-top: 1%;
}
.middleDiv{
	flex:3;
	padding: 3%;
	margin-top: 1%;
}
h2{
	font-size: 180%;
}

/*icons , PAGE 1*/



/*bootstrap carasoul, page 1

https://v4-alpha.getbootstrap.com/components/carousel/*/

#myCarousel img {
  height: 300px;
  width: 100%;
  overflow: hidden; }

  .carousel-caption p {
  font-family: 'Amatic SC', cursive;
 font-size: 90%;
color: black
}
  .carousel-caption h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 110%; 
color: black 
}
/*.carousel-caption {
  margin-bottom: 20%;
  margin-left: 20%; }*/


/*NAVABR,HEADER*/
header img{
	height: 150px;
  	width: auto;
  
  	float: left;

	
}
nav .row{
		/*max-width: 1140px;*/
 
 	margin: 0 auto;
 	
 	
}
nav{
	 border: 1px solid #ccc;
    border-right: none;
    width: 100%;
    border-left: none;
    border-bottom: none;

}
/*.navbar is the ul list
got help with making navbar from: 
https://www.sitepoint.com/responsive-fluid-width-variable-item-navigation-css/*/
.navbar{
	 list-style-type: none;
    margin-top: 8%;
    padding: 0;
    overflow: hidden;
    display: flex;
     flex-direction: row;
  
 
   
   
  	
}
.navbar li{
  /*  float: left;
	margin-left: 10%;*/
	font-size: 120%;
	  list-style: none;
    float: left;
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
    width: 25%; /* fallback for non-calc() browsers */
    width: calc(100% / 4);
    box-sizing: border-box;
     flex-grow: 1;


}
.navbar li a{
	    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;

    text-decoration: none;
}

 .navbar li a:hover {
    background-color: #111;
    height: 100%;
}
/*note-2-self
for mobile response, need to change .row
look in foodwebsite queries file*/
.row{

 	max-width: 1140px;
 /*width:70%;*/
 	margin: 0 auto;
 }
 /* centering div called row: top and bottom zero, left rt are auto*/
 /*Viewport Height.  It is the height of your browser window.  
 height: 100vh which means 100% of viewpoint or browser
 use that in case image does not or only fill the top of page*/
 .social-links{
 	margin-right: 20%;
 }
	.social-links li{
  	list-style: none;
  	float: right;
  	font-size: 180%;
	display: inline-block;
  	margin-right: 2%;
}
  
/*
  i{
  	color: black;
  	margin-right: 20px;
  	
  }*/
   li .fa-bars{
      color: white;
    margin-right: 20px;

  }
  .navbar li: last-child{
  border-right:0;
  }

  .icon{
  float: right;
  margin-top: 5%;
  /*margin-top:30px;*/
  cursor: pointer;
  /*cursor: pointer is used so that
  when we ahover over bars, theres a pointer
  like all the other links*/
  display: none;
  /*dsiplay none is used because it shows with 
  the screen enlarged */
  margin-right: 5%;
}
  #mailingList{
    margin-top: 5%;
  }
  #mailingList .button1{
    background-color: orange;
    margin-top: 2%;
    width: 20%;

  }
  #mailingList .button2{
    background-color: yellow;
    margin-top: 2%;
    width: 20%;

  }
 


/*FOOTER*/
footer{
border: 2px green solid;
padding: 3%;
background-color: black;
}
footer p{
  text-align: center;
  color: white;
}
/*second page fruits and veggies*/

#fruitsandveggies{

}

/*QUERIES MAKE SEPEARATE FILE*/

@media screen and (max-width: 767px) {
  .navbar  {
    display: none;}
  
  .icon {
    float: right;
    display: block;
    font-size: 200%;
  color: white;
    }
}

/* The "responsive" class is added to the navbar
 with Jquery when the user clicks on the icon. 
 This class makes the navbar
  look good on small screens
   (display the links vertically instead 
   of horizontally) */
@media screen and (max-width: 767px) {
  .navbar .responsive {position: relative;}
 /* .navbar .responsive li .icon {
    position: absolute;
    right: 0;
    top: 0;
    }*/
   
   /*now define what happens when we click on bars
  button, back to scripts.js file!*/
  .navbar .responsive li {
    float: left;
    display: block;
    text-align: left;
    /*background-color: black;*/
    margin-top: 7%;
  }
}


  
    

